/* google fonts poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");
/*  Montserrat */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #000;
  font-family: "Montserrat", sans-serif;
  text-transform: capitalize;
}

main {
  width: 100%;
  height: 100%;
  /* border: 1px solid #fff; */
  display: flex;
}

main .menu-side,
.song-side {
  position: relative;
  width: 25%;
  height: 100%;
  color: #fff;
  /* border: 1px solid #fff; */
}

main .song-side {
  width: 75%;
  background-color: rgb(27, 27, 27);
}

/* menu side section starts*/
main .menu-side .logo svg {
  margin: 5%;
  height: 8%;
  width: 44%;
}

main .menu-side .navbar ul {
  margin-left: 5%;
  margin-right: 1%;
  list-style: none;
}

main .menu-side .navbar {
  margin: 5% 2% 5% 10%;
}

main .menu-side .navbar h6 {
  color: rgba(255, 255, 255, 0.377);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
main .menu-side .navbar h6 ion-icon {
  font-size: 1.8rem;
  margin-right: 6%;
  margin-bottom: -0.3rem;
}
main .menu-side .navbar h6:hover {
  color: #fff;
}
main .menu-side .navbar .active {
  color: #fff;
}
main .menu-side .links {
  margin: 20% 2% 5% 10%;
  border-bottom: 0.001rem solid rgba(255, 255, 255, 0.157);
}
main .menu-side .links h6 {
  color: rgba(255, 255, 255, 0.377);
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}
main .menu-side .links h6 ion-icon {
  font-size: 1.8rem;
  margin-right: 6%;
  margin-bottom: -0.3rem;
}
main .menu-side .links .playlist ion-icon {
  background-color: rgba(255, 255, 255, 0.377);
  color: #000;
  padding: 0.2rem;
  font-size: 1.2rem;
  border-radius: 0.1rem;
}

main .menu-side .links h6:hover {
  color: #fff;
}
main .menu-side .links .liked ion-icon {
  font-size: 1.7rem;
}

/* menu side section ends*/

/* song playes section starts*/

main .song-player {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: 13%;
  position: fixed;
  bottom: 0;
  display: flex;
  align-items: center;
  padding: 0 1.5rem;
  border-top: 0.001rem solid rgba(255, 255, 255, 0.144);
}

/* wavw start*/
main .song-player .wave {
  width: 1.875rem;
  height: 1.875rem;
  padding-bottom: 0.313rem;
  /* border: 1px solid #fff; */
  display: flex;
  align-items: flex-end;
  margin-right: 0.6rem;
}

main .song-player .wave .wave1 {
  width: 3px;
  height: 10px;
  border-radius: 10px 10px 0px 0px;
  margin-right: 3px;
  background: #1ed760;
  animation: unset;
}

main .song-player .wave .wave1:nth-child(2) {
  height: 13px;
  /* animation-delay: 0.4s; */
}
main .song-player .wave .wave1:nth-child(3) {
  height: 8px;
  /* animation-delay: 0.8s; */
}

@keyframes wave {
  0% {
    height: 10px;
  }
  50% {
    height: 15px;
  }
  100% {
    height: 10px;
  }
}
/* javascript wave class */
main .song-player .active2 .wave1 {
  animation: wave 0.5s linear infinite;
}
main .song-player .active2 .wave1:nth-child(2) {
  animation-delay: 0.4s;
}
main .song-player .active2 .wave1:nth-child(3) {
  animation-delay: 0.8s;
}
/* wave end */

/* img */
main .song-player img {
  width: 3.438rem;
  height: 3.438rem;
}

/* music artist and name */
main .song-player h5 {
  width: 8.125rem;
  color: #fff;
  margin-left: 0.938rem;
  font-size: 0.813rem;
  line-height: 1.3rem;
}
main .song-player h5 .subtitle {
  font-size: 0.8rem;
  color: #4c5262;
}
/* song playes section ends */
